# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.Python
pip-wheel-metadata/
pip-log.txt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Streamlit / others
.streamlit/
.env
